/* Style sheet - if you are saving my html files, please also save this file as rbd.css */
h1           { font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: maroon }
h2           { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: maroon }
h3           { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: maroon }
h4           { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: maroon }
body         { font-family: "Times New Roman", Times, serif; background-color: white }
body.gray    { font-family: "Times New Roman", Times, serif; background-color: #CCCCCC }
p            { font-family: "Times New Roman", Times, serif; margin-top: 8; margin-bottom: 8 }
p.small      { font-family: "Times New Roman", Times, serif; font-size: 10pt; margin-top: 8; margin-bottom: 8 }
ul           { line-height: 100%; margin-top: 2; margin-bottom: 2 }
li           { margin-top: 2; margin-bottom: 2; font-size: 10pt }
tt           { font-family: "Courier New", Courier, monospaced; font-size: 10pt }
pre          { font-family: "Courier New", Courier, monospaced; font-size: 10pt }
pre.small    { font-family: "Courier New", Courier, monospaced; font-size: 8pt }
hr           { color: maroon }
a:link       { color: blue }
a:visited    { color: green }
a:active     { color: red }
table        { font-size: 10pt }
.question    { color: navy; }